html,
body {
  margin: 0;
  padding: 0;
}

.dnd-body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 1;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #111;
  height: 100vh;
  background: #e1e1e1;
}

.sideBarItem {
  border: 0px solid #2de4e4;
    border-radius: 1px;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    background: #f6f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: move;
}

.page {
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  border: 1px solid green;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}

.column {
  border: 1px solid blue;
  flex: 1 1 100%;
  padding: 10px;
}

.columns {
  display: flex;
  padding: 10px 20px;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.row {
  border: 0px solid red;
    padding: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}

/** Component */
.component-wrapper {
  position: relative;
}

.corner-elements, .top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.corner-elements .icon {
  margin-left: 5px; /* Add some spacing between the icons */
  font-family: 'dashicons'; /* Set font family to WordPress dashicons */
  font-size: 16px; /* Adjust icon size as needed */
}

/* Custom classes for specific icons */
/* .corner-elements .save-icon:before {
  content: '\f147';
} */

/* .corner-elements .trash-icon:before {
  content: '\f182'; 
} */

.corner-elements .save-icon, .save-icon {
  border: 0px solid;
  padding: 1px 2px;
  border-radius: 2px;
  background: #04AA6D;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
.input-box {
  width: 80%;
  border: 1px solid #333;
  border-radius: 1px;
  padding: 5px 10px;
}

.update-button{
  padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}
.page-head-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.corner-elements .trash-icon {
  border: 0px solid;
  padding: 2px 4px;
  border-radius: 2px;
  background: #f44336;
  color: #fff;
  cursor: pointer;
}
.top-right-corner{
  border: 1px solid;
  border-radius: 2px;
  background: #f44336;
  color: #fff;
  cursor: pointer;
}
.bottom-right-corner {
  position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid;
    padding: 4px 14px;
    border-radius: 2px;
    background: #04AA6D;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 14px 4px 0;
}

.modal {
  position: absolute;
  /* top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
  background-color: #fff;
  padding: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 8, 26, 0.347);
}

