html,
body {
  margin: 0;
  padding: 0;
}

.dnd-body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 1;
  width: 28%;
  padding: 10px;
  /* border-right: 1px solid #111; */
  height: auto;
  /* background: #e1e1e1; */
  background: #fff;
}


.sideBarItem {
    border: 0px solid #2de4e4;
    border-radius: 1px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    background: #f6f7f7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: move;
    background: #f6f6f6;
}
.sideBarItem span {
    display: flex;
    width: 34px;
    font-size: xxx-large;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #478fb8;
}

.component_container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.sideBarItem__wraper {
  width: 100%;
  padding-left: 3px;
}
.sideBarItem__name {
  font-weight: bold;
  color: #478fb8;
  /* font-size: 14px; */
}
.sideBarItem__description {
  color: #a8a79c;
}

.sideBarItem {
  flex: 1;
  min-width: 120px;
  padding: 6px 4px;
  border: 1px solid #ccc;
  margin: 2px;
}

.component_search_container {
  padding: 0 5px;
  padding-bottom: 5px;
}
.component_search_box {
  width: 100%;
  border-radius: 20px !important;
  border: 2px solid #478fb8 !important;
  margin: 10px 0;
}


.page {
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  border: 1px solid green;
  overflow: hidden;
  overflow-y: auto;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}
.dropZone.isLast {
  height: 100% !important;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}

.column {
  border: 1px solid blue;
  flex: 1 1 100%;
  padding: 10px;
}

.columns {
  display: flex;
  padding: 10px 20px;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.row {
  border: 0px solid red;
    padding: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}

/** Component */
.component-wrapper {
  position: relative;
}

.corner-elements, .top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.corner-elements .icon {
  margin-left: 5px; /* Add some spacing between the icons */
  font-family: 'dashicons'; /* Set font family to WordPress dashicons */
  font-size: 16px; /* Adjust icon size as needed */
}

/* Custom classes for specific icons */
/* .corner-elements .save-icon:before {
  content: '\f147';
} */

/* .corner-elements .trash-icon:before {
  content: '\f182'; 
} */

.corner-elements .save-icon, .save-icon {
  border: 0px solid;
  padding: 1px 2px;
  border-radius: 2px;
  background: #04AA6D;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
.input-box {
  width: 80%;
  border: 1px solid #333;
  border-radius: 1px;
  padding: 5px 10px;
}

.update-button{
  padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}
.page-head-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}
.page-head-wrapper h2 {
  margin: 0;
  color: #646970;
}

.corner-elements .trash-icon {
  border: 0px solid;
  padding: 2px 4px;
  border-radius: 2px;
  background: #f44336;
  color: #fff;
  cursor: pointer;
}
.top-right-corner{
  border: 1px solid;
  border-radius: 2px;
  background: #f44336;
  color: #fff;
  cursor: pointer;
}
.bottom-right-corner {
  position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid;
    padding: 4px 14px;
    border-radius: 2px;
    background: #04AA6D;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 14px 4px 0;
}

.modal {
  position: absolute;
  /* top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
  background-color: #fff;
  padding: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 8, 26, 0.347);
}
/* Define styles for resizable divs */
.resizable {
  /* width: 100px;
  height: 100px;
  background-color: #ccc;
  border: 1px solid #000; */
  /* resize: both;  */
  /* overflow: auto;  */
  position: relative;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: -5px; /* Adjust the position to center it */
  cursor: col-resize;
  background-color: transparent;
}






